html {
  height: 100%;
}

#App {
  
}

.overview-container {
  margin: auto;
  width: 30%;
  text-align: left;
}

.overview-group-entry-text {
  padding: 1rem;
}

.overview-group-entry-header {
  font-weight: bold;
}

.overview-group-entry-complete-count {
  color: #808080;
  text-transform: uppercase;
  font-size: 0.75rem;
}